@charset "UTF-8";
body {
  width: 100%;
  max-width: 640px;
  margin: auto;
  padding: 1rem;
  background: #FFC954;
}
body * {
  font-family: "Source Sans Pro", "Helvetica Neue", Roboto, "Noto Sans CJK TC", "Heiti TC", "-apple-system", BlinkMacSystemFont, Ubuntu, Cantarell, "微軟正黑體", sans-serif;
  line-height: 1.5em;
}
body hr {
  border-width: 2px;
  border-color: #000000;
}
body a, body button, body input {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
body input {
  display: inline-block;
  vertical-align: center;
  width: 100%;
  max-width: 184px;
  outline: none;
  padding-left: 8px;
}
body button {
  user-select: none;
  cursor: pointer;
}
body button:active {
  outline: none;
}
body ul {
  list-style: none;
  padding: 0;
}
body .section {
  background: #f3f3f3;
  border: solid 3px #000000;
  padding: 1.5rem 2rem;
}
body .section.hide .content {
  display: none;
}
body .error_msg {
  color: #FF3D4A;
  font-size: 13px;
}
body .tag {
  font-weight: 700;
  border: 2px solid #444;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  user-select: none;
  background: #fff;
}
body .tag:nth-child(n+1) {
  margin-right: 1em;
}
body .tag span {
  padding: 0 1em;
}
body .tag button {
  color: #fff;
  background: #444;
  border: none;
  border-left: 2px solid #444;
  cursor: pointer;
  margin: 0;
}
body .tag button:focus {
  outline: none;
}
body .pay-list {
  display: inline-block;
  vertical-align: middle;
}
body .pay-list:nth-child(n+1) {
  margin-right: 1em;
}
body .pay-option {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-weight: 700;
  border: 2px solid #444;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  user-select: none;
  background: #fff;
}
body .pay-option.active {
  background: #444;
  color: #FFC954;
}
body .pay-option input {
  display: none;
}
body .pay-option span {
  padding: 0 1em;
}

.up {
  color: #FF3D4A;
}

.down {
  color: #43a047;
}
