<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Go Dutch</title>
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div id="main">
		<div class="section mb-3">
			<div>
				<button v-on:click="getLocalStorage">讀取暫存</button>
				<button v-on:click="saveLocalStorage">儲存暫存</button>
				<button v-on:click="clearLocalStorage">清除暫存</button>
			</div>
		</div>
		<div class="section mb-3">
			<h4>新增成員 (目前 {{account.length}} 人)</h4>
			<div class="content mb-0">
				<input type="text" v-model.trim="inputMember" v-on:keyup.enter="addNewMember" placeholder="輸入成員名稱" />
				<button v-on:click="addNewMember" :disabled="!inputMember">新增</button>
				<div class="error_msg" v-if="isShow">相同名稱已存在</div>
				<hr/>
				<div class="content mb-0">
					<ul>
						<li class="tag mb-2" v-for="member in account"><span>{{member.name}}</span>
							<button v-on:click="removeThisMember(member.name)">X</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="section mb-3">
			<h4>新增費用</h4>
			<input type="text" v-model="inputCost.name" placeholder="花費項目" />
			<input type="number" v-model="inputCost.cost" placeholder="花費總額" />
			<button v-on:click="addNewCost" :disabled="!inputCost.name || inputCost.cost &lt; 1">新增</button>
			<hr/>
			<div class="content mb-0"><span class="mb-1">已選擇 {{selectedMember.length}} 人</span><br/><span class="mb-1">$ {{computedSingle}} / 人</span>
				<hr/><span>付費成員</span>
				<button class="ml-3" v-on:click="selectAll" v-if="selectedMember.length !== account.length">選擇全部</button>
				<button class="ml-3" v-on:click="disselectAll" v-if="selectedMember.length === account.length &amp;&amp; account.length &gt; 0">取消選擇全部</button>
				<ul class="mt-3">
					<li class="pay-list" v-for="member in account" key="member.name">
						<label class="pay-option" :for="member.name" v-bind:class="{ active: activeLabel(member.name)}">
            <input type="checkbox" v-model="selectedMember" :key="member.name" :value="member.name" :id="member.name"/><span>{{member.name}}</span>
          </label>
					</li>
				</ul>
			</div>
		</div>
		<div class="section mb-3">
			<h4>花費項目明細</h4>
			<div class="content mb-0">
				<ul>
					<li v-for="item in costList"><span>{{item.name}} : {{item.cost}}</span></li>
				</ul>
			</div>
		</div>
		<div class="section mb-3">
			<h4>預收公費</h4>
			<div class="content mb-0">
				<input type="number" v-model="defaultMoney" />
			</div>
		</div>
		<div class="section">
			<h4>成員花費總覽</h4>
			<div class="content mb-0">
				<ul>
					<li v-for="member in account"><span>{{member.name}} : </span><span v-bind:class="[(defaultMoney - member.cost &gt; 0)  ? 'up' : 'down']">{{defaultMoney - member.cost}}</span></li>
				</ul>
			</div>
		</div>
	</div>
	<script src="js/index.js"></script>
</body>
</html>